.app-footer {
  margin-top: 3em;
  
  & p {
    font-size: .8em;
  }

  &-build {
    display: block;
    width: 90px;
    height: 20px;
    margin-top: 2em;
    margin-bottom: 1em;
    margin-right: .5em;
    background-image: url("https://api.travis-ci.org/nerds-of-all-trades/nerdsofalltrad.es.svg?branch=master");
  }
}
