.app-footer {
  background-color: var(--corporate-color-light-gray);
  padding-top: 2em;
  padding: 1em 0;


  & a {
    color: var(--corporate-color-blue);
    text-decoration: none;
    white-space: nowrap;

    &:hover {
      text-decoration: underline;
    }
  }
}
