
      <footer class="app-footer u-row">
        <p>
          Sebastian Misch | Berlin # nerdsofalltrades.slack.com
          <span class="app-footer-build"></span>
          Fork this <a class="u-external-link" href="https://github.com/nerds-of-all-trades/nerdsofalltrad.es" target="_gh_clone">github.com/nerds-of-all-trades/nerdsofalltrad.es.git</a>
        </p>
      </footer>


    </div>

    <!-- build:template
    <script>window.cdn = `<%= cdn %>`;</script>
    /build -->
    <!-- build:js inline -->
    <script src="assets/javascripts/app.loader.min.js" defer></script>
    <!--/build -->
  </body>
</html>
