      <footer class="app-footer">
        <p>
          Sebastian Misch | Berlin &lt;sebastianmisch @ slack&gt;
        </p>
        <p>
          <div class="u-build"></div>
          Fork this <a class="u-external-link" href="https://github.com/nerds-of-all-trades/nerdsofalltrad.es.de" target="_gh_clone">github.com/nerds-of-all-trades/nerdsofalltrad.es.git</a>
        </p>
      </footer>

    </div>

    <!-- build:template
    <script>window.cdn = `<%= cdn %>`;</script>
    /build -->
    <!-- build:js inline -->
    <script src="assets/javascripts/app.loader.min.js" defer></script>
    <!--/build -->
  </body>
</html>
