
      <footer class="app-footer u-row u-corporate-font">
        <p>
          {{author}}
          <a href="https://nerdsofalltrades.slack.com"
            class="u-slack-channel"
            title="Join our Slack-Channel"
            target="_slack">nerdsofalltrades.slack.com</a>
        </p>
      </footer>


    </div>

    <!-- build:template
    <script>window.cdn = `<%= cdn %>`;</script>
    /build -->
    <!-- build:js inline -->
    <script src="assets/javascripts/app.loader.min.js" defer></script>
    <!--/build -->
  </body>
</html>
