<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="initial-scale=1,width=device-width,maximum-scale=1,user-scalable=no">
    <!-- build:template
    <link rel="icon" href="<%= cdn %>/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="<%= cdn %>/favicon.ico" type="image/x-icon" />
    /build -->
    <link href='http://nerdsofalltrad.es' rel='preconnect' crossorigin />
    <!-- build:css inline -->
    <link rel="stylesheet" href="assets/stylesheets/critical.min.css" />
    <!-- /build -->
    <link rel="stylesheet" href="/assets/stylesheets/fonts.min.css" />
    <title>{{title}} | Nerds of all Trades</title>
  </head>
  <body class="u-corporate-background">
    <div class="app">

      <header class="app-header u-row">
        <div class="app-header-logo u-corporate-font-logo"><a href="/" title="home">nerds of all trad.es</a></div>
        <h1 class="app-header-title u-corporate-font-title">{{title}}</h1>
      </header>
