.app-header {
  margin-top: 2em;
  margin-bottom: 2em;

  &-logo {
    display: inline-block;
    padding: 1em;
    background-color: var(--corporate-color-black);
    color: var(--corporate-color-white);
    line-height: 1em;
    font-size: 1em;
    font-weight: 400;
  }

  &-title {
    margin-bottom: .4em;
    line-height: 1.3em;
    font-size: 1.2em;
    font-weight: 700;
  }
}
