section {
  
  & a[rel=author] {
    color: var(--corporate-color-purple);
  }

  & time {
    color: var(--corporate-color-orange);
  }

  & h1 {
    margin-bottom: .4em;
    line-height: 1.3em;
    font-size: 1.2em;
    font-weight: 700;
  }

  & h2 {
    &:not(:first-child) {
      margin-top: 2em;
      padding-top: 1em;
      border-top: solid var(--corporate-color-light-gray) .2em;
    }
    margin-bottom: .4em;
    line-height: 1.3em;
    font-size: 1.1em;
    font-weight: 700;
  }

  & h3 {
    &:not(:first-child) {
      margin-top: 2em;
    }
    margin-bottom: .4em;
    line-height: 1.3em;
    font-size: 1.1em;
    font-weight: 700;
    color: var(--corporate-color-dark-gray);
  }

  & p {
    line-height: 1.5;
    font-size: 1.1em;

    > code {
      color: var(--corporate-color-orange);
    }
  }

  & code {
      font-family: Roboto Mono;
  }

  & i {
    color: var(--corporate-color-orange);
  }

  & sup {
    font-size: .5em;
  }

  & a {
    color: var(--corporate-color-blue);
    text-decoration: none;
    white-space: nowrap;

    &:hover {
      text-decoration: underline;
    }
  }
}
